.App {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.func {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table-container {
  position: relative;
}

.table-container .btn {
  position: absolute;
  right: 0;
  bottom: -40px;
}

.modal-main {
	display: flex;
	flex-direction: column;
}

.modal-main .two {
	display: flex;
	justify-content: space-between;
}

.modal-main .two .two-left {
	display: flex;
	flex-direction: column;
	width: 180px;
}

.modal-btn {
	position: absolute;
	right: 36px;
	bottom: 4px;
}